<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behaviour='messages'>
  <% @messages.each do |message|%>
     <%= render 'messages/message', message: message%>
<% end %>
 </div>

<%= form_for [@chatroom, Message.new], remote: true  do |f| %>
    <%= f.text_area :body, rows: 1 ,class: "form-control", autofocus: "true", id: "new_message"   %>
<% end %>